<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="onWeatherChange($event)" [value]="currentWeather">
      <ion-segment-button value="soleado">
        <ion-label>Sunny</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nublado">
        <ion-label>Cloudy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lluvia">
        <ion-label>Rain</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nevado">
        <ion-label>Snow</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>