.st0 {
    display: none;
  }
  
  .st1 {
    fill: #64853F;
  }
  
  .st2 {
    fill: #3A6330;
  }
  
  .st3 {
    fill: #95A7A5;
  }
  
  .st4 {
    fill: #00130F;
  }
  
  .st5 {
    fill: #333331;
  }
  
  .st6 {
    fill: #39393B;
  }
  
  .st7 {
    fill: #2F252E;
  }
  
  .st8 {
    fill: #708948;
  }
  
  .st9 {
    fill: #7C7E81;
  }
  
  .st10 {
    fill: #567A37;
  }
  
  .st11 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
  }
  
  .st12 {
    fill: #F3BB1A;
  }
  
  .st13 {
    fill: none;
    stroke: #43632E;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
  }
  
  .st14 {
    fill: #586261;
  }
  
  .st15 {
    fill: #D5DBDB;
  }
  
  .st16 {
    fill: #C8D4D2;
  }
  
  .st17 {
    fill: #D9E3E4;
  }
  
  .st18 {
    fill: #9A929D;
  }
  
  .st19 {
    fill: #3F1A2B;
  }
  
  .st20 {
    fill: #47454A;
  }
  
  .st21 {
    fill: #626465;
  }
  
  .st22 {
    fill: #504F57;
  }
  
  .st23 {
    fill: #46464C;
  }
  
  .st24 {
    fill: #706F74;
  }
  
  .st25 {
    fill: #59595C;
  }
  
  .st26 {
    fill: #3C3A3D;
  }
  
  .st27 {
    fill: #808B3B;
  }
  
  .st28 {
    fill: none;
    stroke: #43632E;
    stroke-width: 1.2;
    stroke-miterlimit: 10;
  }
  
  .st29 {
    fill: none;
    stroke: #4E544F;
    stroke-miterlimit: 10;
  }
  
  .st30 {
    fill: #43632E;
  }
  
  .st31 {
    fill: none;
    stroke: #4C6E33;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
  }
  
  .st32 {
    fill: none;
    stroke: #4C6E33;
    stroke-miterlimit: 10;
  }
  
  .st33 {
    fill: #333335;
  }
  
  .st34 {
    fill: #494947;
  }
  
  .st35 {
    fill: #718F48;
  }
  
  .st36 {
    fill: #47692D;
  }
  
  .st37 {
    fill: #B8BEC4;
  }
  
  .st38 {
    fill: none;
  }
  
  .st39 {
    fill: #B0B4B7;
  }
  
  .st40 {
    fill: #C1B6B2;
  }
  
  .st41 {
    fill: #A0B3B1;
  }
  
  .st42 {
    fill: #7F7E82;
  }
  
  .st43 {
    fill: #B3C5C8;
  }
  
  .st44 {
    fill: none;
    stroke: #47454A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
  }
  .backlight, .front-light {
    transition: filter 0.3s ease, fill 0.3s ease;
  }

  .wiper-animation {
    transform-origin: 323.2px 394.3px; /* Left side as rotation point */
    animation: wipe 1.5s infinite;
  }
  
  @keyframes wipe {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-50deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wiper-paused {
    animation-play-state: paused;
  }